# Environment Configuration
FLASK_ENV=development

BASE_URL=http://localhost:3000

# Database Configuration
DB_HOST=ristosmart_db
DB_PORT=5432
DB_NAME=ristosmart
DB_USER=ristosmart
DB_PASSWORD=mysecretpassword


MANAGER_USER=manager@ristosmart.install
MANAGER_PASSWORD=changeme

# JWT Configuration
JWT_SECRET_KEY=your-super-secret-jwt-key-change-in-production
SECRET_KEY=your-super-secret-key-change-in-production

# Server Configuration
PORT=3000
